{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "noBracketSpacing": true,
  "arrowParens": "always",
  "importOrder": [
    "^react$",
    "^react-(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@mui/material(.*)$",
    "^@mui/lab(.*)$",
    "^@mui(.*)$",
    "^@(.*)$",
    "^(../){10}(.*)$",
    "^(../){9}(.*)$",
    "^(../){8}(.*)$",
    "^(../){7}(.*)$",
    "^(../){6}(.*)$",
    "^(../){5}(.*)$",
    "^(../){4}(.*)$",
    "^(../){3}(.*)$",
    "^(../){2}(.*)$",
    "^(../){1}(.*)$",
    "^[./](.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
